server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:

        # =========================
        # AUTH SERVICE
        # =========================
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/auth/**, /api/profile/**, /api/admin/users/**, /api/admin/stats/**

        - id: auth-service-docs
          uri: http://localhost:8081
          predicates:
            - Path=/auth-service/v3/api-docs
          filters:
            - RewritePath=/auth-service/v3/api-docs, /v3/api-docs

        # =========================
        # ITEM SERVICE
        # =========================
        - id: item-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/items/**, /api/admin/items/**

        - id: item-service-docs
          uri: http://localhost:8082
          predicates:
            - Path=/item-service/v3/api-docs
          filters:
            - RewritePath=/item-service/v3/api-docs, /v3/api-docs

        # =========================
        # RENTAL SERVICE
        # =========================
        - id: rental-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/rentals/**, /api/admin/rentals/**

        - id: rental-service-docs
          uri: http://localhost:8083
          predicates:
            - Path=/rental-service/v3/api-docs
          filters:
            - RewritePath=/rental-service/v3/api-docs, /v3/api-docs

        # =========================
        # REVIEW SERVICE
        # =========================
        - id: review-service
          uri: http://localhost:8084
          predicates:
            - Path=/api/reviews/**, /api/admin/reviews/**

        - id: review-service-docs
          uri: http://localhost:8084
          predicates:
            - Path=/review-service/v3/api-docs
          filters:
            - RewritePath=/review-service/v3/api-docs, /v3/api-docs

        # =========================
        # NOTIFICATION SERVICE
        # =========================
        - id: notif-service
          uri: http://localhost:8085
          predicates:
            - Path=/api/notifications/**

        - id: notif-service-docs
          uri: http://localhost:8085
          predicates:
            - Path=/notif-service/v3/api-docs
          filters:
            - RewritePath=/notif-service/v3/api-docs, /v3/api-docs

        # =========================
        # DISPUTE SERVICE
        # =========================
        - id: dispute-service
          uri: http://localhost:8086
          predicates:
            - Path=/api/disputes/**, /api/admin/disputes/**

        - id: dispute-service-docs
          uri: http://localhost:8086
          predicates:
            - Path=/dispute-service/v3/api-docs
          filters:
            - RewritePath=/dispute-service/v3/api-docs, /v3/api-docs

        # =========================
        # PAYMENTS SERVICE
        # =========================
        - id: payments-service
          uri: http://localhost:8087
          predicates:
            - Path=/api/payments/**

        - id: payments-service-docs
          uri: http://localhost:8087
          predicates:
            - Path=/payments-service/v3/api-docs
          filters:
            - RewritePath=/payments-service/v3/api-docs, /v3/api-docs


# =========================
# SWAGGER AGRÉGÉ
# =========================
springdoc:
  swagger-ui:
    urls:
      - name: auth-service
        url: /auth-service/v3/api-docs
      - name: item-service
        url: /item-service/v3/api-docs
      - name: rental-service
        url: /rental-service/v3/api-docs
      - name: review-service
        url: /review-service/v3/api-docs
      - name: payments-service
        url: /payments-service/v3/api-docs
      - name: dispute-service
        url: /dispute-service/v3/api-docs
      - name: notif-service
        url: /notif-service/v3/api-docs


jwt:
  secret: HzuHlbBi+nyXGNVWXYo9I7ojNnxfE8FVnmt1jV0nMeU=


logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.security.oauth2: DEBUG
    org.springframework.cloud.gateway: DEBUG