spring:
  application:
    name: configuration-service

  cloud:
    discovery:
      enabled: true
    config:
      server:
        git:
          uri: https://github.com/NdiayeGorgui/rent-hub-config-server
          clone-on-start: true
          default-label: main

server:
  port: 8888

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
